<%- include('../partials/header.ejs') %>

<h2>Login</h2> 

<small><p style="color: blue"> <%= message %> </p></small>
<small>If you don't already have an account, you can... <strong><a href="/auth/register">Create One</a></strong>.</small>
<form method="POST" action="/auth/login">
  <fieldset>
    <small>
      <div> 
        <label for="username">Username: </label>
        <input 
          type="text" 
          name="username" 
          id="username" 
          placeholder="Enter Username" 
          required
        >
      </div>
      <div>
        <label for="password">Password: </label>
        <input 
          type="password" 
          name="password" 
          id="password" 
          placeholder="Enter Password" 
          required
        >
      </div>
      <button>Login</button>
    </small>
  </fieldset>
</form>

<%- include('../partials/footer.ejs') %>