<%- include('../partials/header.ejs') %>

	<h3>New Photo Page</h3>

	<form method="POST" action="/photos">
		<fieldset>

			<label for="title">Title:</label>
			<input 
				type="text" 
				name="title" 
				id="title" 
				placeholder="Pic Title"
				/>

			<label for="user">User:</label>
			<input 
				type="text" 
				name="user" 
				id="user" 
				placeholder="Who took this pic?"
				/>


<!-- 
			<div>
        	<label for="user-select">Who took the pic?:</label>
        	<select name="user" id="user-select">
          	<option value="" disabled selected>(choose an user)</option>
          		 users.forEach((user) => { %>
            		<option value=" user.id %>">    user.name %></option>
          		 }) 
        	</select>        
      		</div> -->


			<label for="url">URL:</label>
			<input 
				type="text" 
				name="url" 
				id="url" 
				placeholder="Paste the photo URL here"
				/>

		</fieldset>
		<button>Add Pic!</button>
	</form>

<%- include('../partials/footer.ejs') %>