<%- include('../partials/header.ejs') %>

	<h3>New Photo Page</h3>

	<form method="POST" action="/photos">
		<fieldset>
			<label for="title">Title:</label>
			<input 
				type="text" 
				name="title" 
				id="title" 
				placeholder="Post New Pic!"
				/>
		</fieldset>
		<button>Add Pic!</button>
	</form>

<%- include('../partials/footer.ejs') %>