<%- include('../partials/header.ejs') %>

  <h2>Add Photographer</h2>

  <form>
    <fieldset>
      <label for="name">Photographer Name:</label>
      <input 
        id="name" 
        type="text" 
        name="name" 
        placeholder="Enter Name" 
      />
    </fieldset>
    <button>Create Photographer</button>
  </form>

<%- include('../partials/footer.ejs') %> 