<%- include('../partials/header.ejs') %>

  <h2>Add Photographer</h2>

  <form method="POST" action="/users">
    <fieldset>
      <label for="name">Photographer Name:</label>
      <input 
        id="name" 
        type="text" 
        name="name" 
        placeholder="Enter Name" 
      />
    </fieldset>

     <div>
        <label for="photo-select">Choose a Photo:</label>
        <select name="photo" id="photo-select">
          <option value="" disabled selected>(choose a photo)</option>
          <% photos.forEach((photo) => { %>
            <option value="<%= photo.id %>"><%= photo.title %></option>
          <% }) %>
        </select>        
      </div>
    <button>Create Photographer</button>
  </form>

<%- include('../partials/footer.ejs') %> 